<!DOCTYPE html>
<html>

<head>
    <title>403 Forbidden</title>
</head>

<body>

    <p>Directory access is forbidden.</p>

    <div class="input-group"> <span class="twitter-typeahead" style="position: relative; display: inline-block;"><input
                class="tt-hint" type="text" autocomplete="off" spellcheck="off" disabled=""
                style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);"><input
                type="text" name="typeahead_prefetch" class="form-control typeahead tt-query"
                data-prefetch="https://demo.neontheme.com/data/countries.json" placeholder="Countries"
                autocomplete="off" spellcheck="false" dir="auto"
                style="position: relative; vertical-align: top; background-color: transparent;"><span
                style="position: absolute; left: -9999px; visibility: hidden; white-space: nowrap; font-family: &quot;Helvetica Neue&quot;, Helvetica, &quot;Noto Sans&quot;, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></span><span
                class="tt-dropdown-menu"
                style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"></span></span> <span
            class="input-group-addon"><i class="entypo-globe"></i></span> </div>
    <div data-v-5571b59e="" class="col-sm-4"
        style="border-right: none; padding-top: 10px; width: 33.3333%; height: 100%; padding-right: 0px;">
        <div data-v-5571b59e="" class="step-wrapper">
            <div data-v-5571b59e="" class="step-wrapper-title">1. Products To options (1)<i data-v-5571b59e=""
                    class="fa fa-angle-down" style=""></i><i data-v-5571b59e="" class="fa fa-angle-up"
                    style="display: table;"></i></div>
            <div data-v-5571b59e="" class="step" style="display: table;">
                <div data-v-84d8fed6="" data-v-5571b59e="" id="Stepoptionsables">
                    <div data-v-84d8fed6="" class="form-group"><label data-v-84d8fed6="" class="control-label"> options
                            Title <span data-v-84d8fed6="" class="explanation">Optional - not shown to your
                                customers</span></label><input data-v-84d8fed6="" type="text"
                            placeholder="'Eg. Spring Promo'" class="string optional form-control input-lg"></div>
                    <div data-v-84d8fed6="" class="form-group"><label data-v-84d8fed6=""
                            class="control-label">Product(s) optionsed</label>
                        <table data-v-84d8fed6="" id="optionsableProductsTable" class="table">
                            <tr data-v-84d8fed6="" title="4443389329517">
                                <td data-v-84d8fed6=""><img data-v-84d8fed6=""
                                        src="//cdn.shopify.com/s/files/1/1888/1401/products/NL-Glove-499_medium.jpg">
                                </td>
                                <td data-v-84d8fed6="">
                                    <div data-v-84d8fed6="" class="title"><a data-v-84d8fed6=""
                                            href="https://ylonn.myshopify.com/admin/products/4443389329517"
                                            target="_blank">Scrub Glove - 35% KORTING </a></div>
                                    <div data-v-84d8fed6="" class="subtitle"><span data-v-84d8fed6="">all 1
                                            variant(s)</span></div>
                                </td>
                                <td data-v-84d8fed6="" style="text-align: center;">
                                    <div data-v-84d8fed6="" title="remove from options" class="remover text-danger"><i
                                            data-v-84d8fed6="" class="fa fa-times"></i></div>
                                </td>
                            </tr>
                            <tr data-v-84d8fed6="">
                                <td data-v-84d8fed6="" colspan="2">
                                    <div data-v-84d8fed6="" style="display: table;">One or more products can be shown in
                                        an options</div>
                                    <div data-v-0657c32c="" data-v-84d8fed6="" id="ProductCollectionPopup"><a
                                            data-v-0657c32c="" href="#" class="shopify-styled-link"><i
                                                data-v-0657c32c="" class="fa fa-plus"></i>
                                            ADD A PRODUCT</a>
                                        <!---->
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!---->
                </div>
            </div>
        </div>
        <div data-v-5571b59e="" class="step-wrapper">
            <div data-v-5571b59e="" class="step-wrapper-title"><span data-v-5571b59e="">2. Look &amp; Feel
                    <!----></span><i data-v-5571b59e="" class="fa fa-angle-down" style=""></i><i data-v-5571b59e=""
                    class="fa fa-angle-up" style="display: table;"></i></div>
            <div data-v-5571b59e="" class="step" style="display: table;">
                <div data-v-5e2fbd9d="" data-v-5571b59e="" id="StepLookAndFeel">
                    <div data-v-5e2fbd9d="" class="form-group"><label data-v-5e2fbd9d="" id="options_text_hint"
                            class="control-label">options Text</label>
                        <!---->
                        <div data-v-5e2fbd9d="" class="alert alert-danger alert-top"
                            style="padding: 0.5rem 0.75rem; margin-bottom: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; display: table;">
                            The <strong data-v-5e2fbd9d="">product_title</strong> tag will only display the name of the
                            first product -
                            you may want to change this text</div><textarea data-v-5e2fbd9d=""
                            class="text optional form-control input-xxlarge"></textarea>
                    </div>
                    <div data-v-5e2fbd9d="" class="form-group">
                        <table data-v-5e2fbd9d="" class="table space-controls">
                            <tr data-v-5e2fbd9d="">
                                <td data-v-5e2fbd9d="" class="label-cell"><label data-v-5e2fbd9d=""
                                        id="options_cta_hint" class="control-label">Button Text</label>
                                    <!---->
                                </td>
                                <td data-v-5e2fbd9d="" class="control-cell"><input data-v-5e2fbd9d="" type="text"
                                        value="Add To Cart" class="string optional form-control input-large"
                                        style="display: inline-block; width: auto; margin-left: 10px;"></td>
                            </tr>
                            <tr data-v-5e2fbd9d="">
                                <td data-v-5e2fbd9d="" class="label-cell"><label data-v-5e2fbd9d=""
                                        class="control-label">Color Scheme:</label></td>
                                <td data-v-5e2fbd9d="" class="control-cell">
                                    <div data-v-5e2fbd9d="" class="controls"
                                        style="display: inline-block; margin-left: 10px;"><select data-v-5e2fbd9d=""
                                            class="form-control" style="width: auto;">
                                            <option data-v-5e2fbd9d="" data-imagesrc="/assets/custom.png"
                                                value="custom">custom</option>
                                            <option data-v-5e2fbd9d="" data-imagesrc="/assets/default.png"
                                                value="default">default</option>
                                            <option data-v-5e2fbd9d="" data-imagesrc="/assets/inverse.png"
                                                value="inverse">inverse</option>
                                            <option data-v-5e2fbd9d="" data-imagesrc="/assets/original.png"
                                                value="original">original</option>
                                            <option data-v-5e2fbd9d="" data-imagesrc="/assets/desert.png"
                                                value="desert">desert</option>
                                            <option data-v-5e2fbd9d="" data-imagesrc="/assets/cobalt.png"
                                                value="cobalt">cobalt</option>
                                            <option data-v-5e2fbd9d="" data-imagesrc="/assets/halloween.png"
                                                value="halloween">halloween</option>
                                            <option data-v-5e2fbd9d="" data-imagesrc="/assets/turquoise.png"
                                                value="turquoise">turquoise</option>
                                            <option data-v-5e2fbd9d="" data-imagesrc="/assets/blank.png" value="blank">
                                                blank</option>
                                        </select></div>
                                </td>
                            </tr>
                            <tr data-v-5e2fbd9d="">
                                <td data-v-5e2fbd9d="" class="label-cell"><label data-v-5e2fbd9d=""
                                        class="control-label">Layout:</label></td>
                                <td data-v-5e2fbd9d="" class="control-cell">
                                    <div data-v-5e2fbd9d="" class="controls"
                                        style="display: inline-block; margin-left: 10px;"><select data-v-5e2fbd9d=""
                                            class="form-control" style="width: auto;">
                                            <option data-v-5e2fbd9d="" value="compact">Compact</option>
                                            <option data-v-5e2fbd9d="" value="stack">Stack</option>
                                            <option data-v-5e2fbd9d="" value="carousel">Carousel</option>
                                            <option data-v-5e2fbd9d="" value="flex">Flex</option>
                                            <!---->
                                        </select></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div data-v-5e2fbd9d="" class="form-group"><label data-v-5e2fbd9d="" class="control-label">Product
                            Options</label>
                        <div data-v-5e2fbd9d="" class="form-check form-check-big"><input data-v-5e2fbd9d=""
                                id="show_product_image" type="checkbox" class="form-check-input"><label
                                data-v-5e2fbd9d="" for="show_product_image" class="form-check-label">Show Image</label>
                            <div data-v-5e2fbd9d="" style="display: inline-block; padding-left: 10px;">(Size:
                                <select data-v-5e2fbd9d="" name="product_image_size" style="padding-left: 10px;">
                                    <option data-v-5e2fbd9d="" value="small">Small</option>
                                    <option data-v-5e2fbd9d="" value="medium">Normal</option>
                                    <option data-v-5e2fbd9d="" value="big">Big</option>
                                    <option data-v-5e2fbd9d="" value="huge">Huge</option>
                                </select>)</div>
                        </div>
                        <div data-v-5e2fbd9d="" class="form-check form-check-big"><input data-v-5e2fbd9d=""
                                id="show_product_title" type="checkbox" class="form-check-input"><label
                                data-v-5e2fbd9d="" for="show_product_title" class="form-check-label">Title</label></div>
                        <div data-v-5e2fbd9d="" class="form-check form-check-big"><input data-v-5e2fbd9d=""
                                id="show_product_price" type="checkbox" class="form-check-input"><label
                                data-v-5e2fbd9d="" for="show_product_price" class="form-check-label">Price (next to
                                title)</label></div>
                        <div data-v-5e2fbd9d="" class="form-check form-check-big"><input data-v-5e2fbd9d=""
                                id="show_compare_at_price" type="checkbox" class="form-check-input"><label
                                data-v-5e2fbd9d="" for="show_compare_at_price" class="form-check-label">"Compare At"
                                Price (next to title)</label></div>
                        <div data-v-5e2fbd9d="" class="form-check form-check-big"><input data-v-5e2fbd9d=""
                                id="show_variant_price" type="checkbox" class="form-check-input"><label
                                data-v-5e2fbd9d="" for="show_variant_price" class="form-check-label">Price (in variant
                                dropdown)</label></div>
                    </div>
                    <div data-v-5e2fbd9d="" class="form-group"><label data-v-5e2fbd9d="" class="control-label">Display
                            Options</label>
                        <div data-v-5e2fbd9d="" class="form-check form-check-big"><input data-v-5e2fbd9d=""
                                id="link_to_product" type="checkbox" class="form-check-input"><label data-v-5e2fbd9d=""
                                for="link_to_product" class="form-check-label">Link image and title to optionsed
                                product(s) (not recommended)</label></div>
                        <!---->
                        <div data-v-5e2fbd9d="" class="form-check form-check-big"><input data-v-5e2fbd9d=""
                                id="show_nothanks" type="checkbox" class="form-check-input"><label data-v-5e2fbd9d=""
                                for="show_nothanks" class="form-check-label">Show an "x" in the corner of the options so
                                shoppers can dismiss it (not recommended)</label></div>
                        <div data-v-5e2fbd9d="" class="form-check form-check-big"><input data-v-5e2fbd9d=""
                                id="show_quantity_selector" type="checkbox" class="form-check-input"><label
                                data-v-5e2fbd9d="" for="show_quantity_selector" class="form-check-label">Quantity
                                chooser (otherwise the quantity will automatically be 1)</label></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-5571b59e="" class="step-wrapper">
            <div data-v-5571b59e="" class="step-wrapper-title">3. Triggers<i data-v-5571b59e=""
                    class="fa fa-angle-down"></i><i data-v-5571b59e="" class="fa fa-angle-up"
                    style="display: table;"></i></div>
            <div data-v-5571b59e="" class="step" style="display: table;">
                <div data-v-61fa2012="" data-v-5571b59e="" id="StepRules">
                    <div data-v-61fa2012="" class="form-group"><strong data-v-61fa2012="">Show options
                            when</strong><select data-v-61fa2012="" class="form-control sidepad"
                            style="width: auto; display: inline;">
                            <option data-v-61fa2012="" value="and">ALL</option>
                            <option data-v-61fa2012="" value="or">ANY</option>
                        </select><strong data-v-61fa2012="">of these rules are true </strong><strong
                            data-v-61fa2012="">at the same time</strong>:</div>
                    <div data-v-61fa2012="">
                        <div data-v-61fa2012="" class="rule">
                            <div class="description">
                                <div class="type-wrapper">
                                    <!---->
                                    <!---->
                                </div>
                                <div class="text-wrapper">Cart does not contain any <span style="display: table;">1
                                    </span><span data-v-bbb57e62="">product </span><strong data-v-bbb57e62=""> GOLD
                                        PAKKET
                                    </strong></div>
                                <div class="action-wrapper"><i data-v-bbb57e62="" title="Delete this rule"
                                        class="text-danger fa delete-rule fa-times"></i></div>
                            </div>
                        </div>
                    </div><a data-v-61fa2012="" href="#" class="shopify-styled-link"><i data-v-61fa2012=""
                            class="fa fa-plus"></i>
                        Add Rule</a>
                    <!---->
                    <hr data-v-61fa2012=""><label data-v-61fa2012="" class="control-label">Trigger Options</label>
                    <div data-v-61fa2012="" class="form-check form-check-big"><input data-v-61fa2012=""
                            id="stop_showing_after_accepted" type="checkbox" class="form-check-input"><label
                            data-v-61fa2012="" for="stop_showing_after_accepted" class="form-check-label">Don't continue
                            to show the options after it has been accepted</label></div>
                    <!---->
                    <div data-v-61fa2012="" class="form-check form-check-big"><input data-v-61fa2012="" id="must_accept"
                            type="checkbox" class="form-check-input"><label data-v-61fa2012="" for="must_accept"
                            class="form-check-label"> The options must be accepted in order to continue.
                            (<a data-v-61fa2012="" href="https://v.usetapes.com/VLUqvjhA6E" target="_blank">click here
                                to see how this works</a>)</label></div>
                    <div data-v-61fa2012="" class="form-check form-check-big"><input data-v-61fa2012=""
                            id="remove_if_no_longer_valid" type="checkbox" class="form-check-input"><label
                            data-v-61fa2012="" for="remove_if_no_longer_valid" class="form-check-label">If the display
                            rules are no longer satisfied, automatically remove the item from the cart.<div
                                data-v-61fa2012="" class="alert alert-warning sublabel" style="display: table;"><strong
                                    data-v-61fa2012="">Use with caution.</strong><br data-v-61fa2012="">This option
                                <strong data-v-61fa2012="">removes products from the shopping cart </strong>which can be
                                unexpected for your shoppers.<br data-v-61fa2012="">Because of Shopify limitations on
                                apps, it is possible for more technical shoppers to bypass this
                                feature. If it is important that shoppers <strong data-v-61fa2012="">never</strong> be
                                able to buy this upsell without
                                satisfying the rules, please use a Discount Code (section 4).</div></label></div>
                </div>
            </div>
        </div>
        <div data-v-5571b59e="" class="step-wrapper">
            <div data-v-5571b59e="" class="step-wrapper-title"><span data-v-5571b59e=""> 4. Advanced Options
                    <!----></span><i data-v-5571b59e="" class="fa fa-angle-down" style=""></i><i data-v-5571b59e=""
                    class="fa fa-angle-up" style="display: table;"></i></div>
            <div data-v-5571b59e="" class="step" style="display: table;">
                <div data-v-689386e2="" data-v-5571b59e="" id="StepAdvancedOptions">
                    <div data-v-689386e2="" class="form-group"><label data-v-689386e2="" class="control-label">Automatic
                            Discounts:</label>
                        <div data-v-689386e2="" class="form-check"><input data-v-689386e2="" id="discountTypeCode"
                                type="radio" name="discount_type" value="code" class="form-check-input"
                                style="margin-top: 0.8rem;"><label data-v-689386e2="" for="discountTypeCode"
                                class="form-check-label form-inline"> Automatically apply this discount code:<input
                                    data-v-689386e2="" type="text" class="small form-control col-sm-3"></label>
                            <div data-v-689386e2="" class="alert alert-info"
                                style="padding: 5px 8px; margin-top: 5px; display: table;">make sure you have already
                                set up this discount code in your <a data-v-689386e2=""
                                    href="https://ylonn.myshopify.com/admin/discounts" target="_blank">discount code</a>
                                section. the discount will apply automatically at <strong
                                    data-v-689386e2="">checkout</strong></div>
                        </div>
                        <div data-v-689386e2="" class="form-check"><input data-v-689386e2="" id="discountTypeNone"
                                type="radio" name="discount_type" value="none" class="form-check-input"><label
                                data-v-689386e2="" for="discountTypeNone" class="form-check-label">Do not automatically
                                apply a discount </label></div>
                    </div>
                    <div data-v-689386e2="" class="form-group"><label data-v-689386e2="" class="control-label">After
                            options Is Accepted</label>
                        <div data-v-689386e2="" class="form-check form-check-big" style="margin-left: 0px;"><input
                                data-v-689386e2="" id="checkout_after_accepted" type="checkbox" class="form-check-input"
                                style="margin-right: 5px;"><label data-v-689386e2="" for="checkout_after_accepted"
                                class="form-check-label">After the options is accepted, go straight to checkout instead
                                of
                                the shopping cart</label></div>
                    </div>
                    <hr data-v-689386e2="">
                    <div data-v-689386e2="" class="advancedSettingsTitle active"><span data-v-689386e2="">A/B Testing
                            <!----></span><i data-v-689386e2="" class="fa fa-angle-down" style="display: table;"></i><i
                            data-v-689386e2="" class="fa fa-angle-up" style=""></i></div>
                    <div data-v-689386e2="" id="abTesting" class="advancedSettingsStep" style="">
                        <!---->
                        <!---->
                        <div data-v-689386e2="" class="form-group"><label data-v-689386e2=""
                                class="control-label">options
                                Text (B version) <i data-v-689386e2="" id="options_text_b_hint"
                                    class="fa fa-question-circle"></i>
                                <!----></label>
                            <div data-v-689386e2="" class="controls"><textarea data-v-689386e2=""
                                    class="form-control">d</textarea></div>
                        </div>
                        <div data-v-689386e2="" class="form-group"><label data-v-689386e2=""
                                class="control-label">Button Text (B version) </label><i data-v-689386e2=""
                                data-content="Button text has a big influence on conversion rates. Experiment to find out what works with your audience.  Some examples to try: 'Add To Cart', 'Yes', 'Get Mine Now'"
                                data-title="Hint" data-toggle="popover" data-original-title="" title=""
                                class="fa fa-question-circle"></i>
                            <div data-v-689386e2="" class="controls"><input data-v-689386e2="" type="text"
                                    value="Add To Cart" class="form-control string optional"></div>
                        </div>
                    </div>
                    <div data-v-689386e2="" class="advancedSettingsTitle"> Custom Fields<i data-v-689386e2=""
                            class="fa fa-angle-down"></i><i data-v-689386e2="" class="fa fa-angle-up"
                            style="display: table;"></i></div>
                    <div data-v-689386e2="" id="customFieldInput" class="advancedSettingsStep" style="display: table;">
                        <div data-v-689386e2="" class="form-group">
                            <div data-v-689386e2="" class="form-check form-check-big" style="margin-left: 0px;"><input
                                    data-v-689386e2="" id="show_custom_field" type="checkbox" class="form-check-input"
                                    style="margin-right: 5px;"><label data-v-689386e2="" for="show_custom_field"
                                    class="form-check-label">Show field(s) for custom attribute input</label></div>
                        </div>
                        <div data-v-689386e2="" class="form-group" style="display: table;">
                            <hr data-v-689386e2="">
                            <div data-v-689386e2="" class="control-group"><label data-v-689386e2="">Custom Field 1 Name:
                                </label><i data-v-689386e2=""
                                    data-content="Make sure this is exactly the same as the custom field on your product/cart page"
                                    data-title="Hint" data-toggle="popover" data-original-title="" title=""
                                    class="fa fa-question-circle"></i>
                                <div data-v-689386e2="" class="controls"><strong data-v-689386e2="" class="text-danger"
                                        style="display: table;">The Custom Field Must Have a Name</strong><input
                                        data-v-689386e2="" type="text" class="form-control string optional"></div>
                            </div>
                            <div data-v-689386e2="" class="control-group"><label data-v-689386e2="">Custom Field 1
                                    Placeholder: </label><i data-v-689386e2=""
                                    data-content="Instructions to your customers on what to type in the field"
                                    data-title="Hint" data-toggle="popover" data-original-title="" title=""
                                    class="fa fa-question-circle"></i>
                                <div data-v-689386e2="" class="controls"><input data-v-689386e2="" type="text"
                                        class="form-control string optional"></div>
                            </div>
                            <div data-v-689386e2="" class="control-group">
                                <div data-v-689386e2="" class="form-check form-check-big"
                                    style="margin-left: 0px; margin-top: 10px;"><input data-v-689386e2=""
                                        id="custom_field_required" type="checkbox" class="form-check-input"
                                        style="margin-right: 5px;"><label data-v-689386e2="" for="custom_field_required"
                                        class="form-check-label">Custom Field 1 is required (the options cannot be
                                        accepted if the field is not filled out)</label></div>
                            </div>
                        </div>
                        <div data-v-689386e2="" class="form-group" style="display: table;">
                            <hr data-v-689386e2="">
                            <div data-v-689386e2="" class="control-group"><label data-v-689386e2="">Custom Field 2 Name:
                                </label><i data-v-689386e2=""
                                    data-content="Make sure this is exactly the same as the custom field on your product/cart page"
                                    data-title="Hint" data-toggle="popover" data-original-title="" title=""
                                    class="fa fa-question-circle"></i>
                                <div data-v-689386e2="" class="controls"><input data-v-689386e2="" type="text"
                                        class="form-control string optional"></div>
                            </div>
                            <div data-v-689386e2="" class="control-group"><label data-v-689386e2="">Custom Field 2
                                    Placeholder: </label><i data-v-689386e2=""
                                    data-content="Instructions to your customers on what to type in the field"
                                    data-title="Hint" data-toggle="popover" data-original-title="" title=""
                                    class="fa fa-question-circle"></i>
                                <div data-v-689386e2="" class="controls"><input data-v-689386e2="" type="text"
                                        class="form-control string optional"></div>
                            </div>
                            <div data-v-689386e2="" class="control-group">
                                <div data-v-689386e2="" class="form-check form-check-big"
                                    style="margin-left: 0px; margin-top: 10px;"><input data-v-689386e2=""
                                        id="custom_field_2_required" type="checkbox" class="form-check-input"
                                        style="margin-right: 5px;"><label data-v-689386e2=""
                                        for="custom_field_2_required" class="form-check-label">Custom Field 2 is
                                        required (the options cannot be accepted if the field is not filled out)</label>
                                </div>
                            </div>
                        </div>
                        <div data-v-689386e2="" class="form-group" style="display: table;">
                            <hr data-v-689386e2="">
                            <div data-v-689386e2="" class="control-group"><label data-v-689386e2="">Custom Field 3 Name:
                                </label><i data-v-689386e2=""
                                    data-content="Make sure this is exactly the same as the custom field on your product/cart page"
                                    data-title="Hint" data-toggle="popover" data-original-title="" title=""
                                    class="fa fa-question-circle"></i>
                                <div data-v-689386e2="" class="controls"><input data-v-689386e2="" type="text"
                                        class="form-control string optional"></div>
                            </div>
                            <div data-v-689386e2="" class="control-group"><label data-v-689386e2="">Custom Field 3
                                    Placeholder: </label><i data-v-689386e2=""
                                    data-content="Instructions to your customers on what to type in the field"
                                    data-title="Hint" data-toggle="popover" data-original-title="" title=""
                                    class="fa fa-question-circle"></i>
                                <div data-v-689386e2="" class="controls"><input data-v-689386e2="" type="text"
                                        class="form-control string optional"></div>
                            </div>
                            <div data-v-689386e2="" class="control-group">
                                <div data-v-689386e2="" class="form-check form-check-big"
                                    style="margin-left: 0px; margin-top: 10px;"><input data-v-689386e2=""
                                        id="custom_field_3_required" type="checkbox" class="form-check-input"
                                        style="margin-right: 5px;"><label data-v-689386e2=""
                                        for="custom_field_3_required" class="form-check-label">Custom Field 3 is
                                        required (the options cannot be accepted if the field is not filled out)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div data-v-689386e2="" id="upgradeOptions" class="advancedSettingsStep" style="display: table;">
                        <p data-v-689386e2=""> To create an upgrade, <strong data-v-689386e2="">remove</strong> certain
                            products from the cart when the options is accepted.
                            For example: options a DELUXE HAT when a HAT is in the cart, and remove the HAT
                            when the options is accepted</p>
                        <!----><a data-v-689386e2="" href="" class="btn btn-primary">Select Products</a>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-5571b59e="" class="step-wrapper active" style="margin-bottom: 100px;">
            <div data-v-5571b59e="" class="step-wrapper-title">
                <div data-v-5571b59e=""> 5. Publish Status <div data-v-5571b59e=""
                        style="line-height: 14px; font-size: 90%;">currently <strong data-v-5571b59e=""
                            class="text-success">published</strong></div>
                </div><i data-v-5571b59e="" class="fa fa-angle-down" style="display: table;"></i><i data-v-5571b59e=""
                    class="fa fa-angle-up" style=""></i>
            </div>
            <div data-v-5571b59e="" class="step" style="">
                <div data-v-5571b59e="" class="control-group"><label data-v-5571b59e="" class="control-label">options
                        Status</label>
                    <div data-v-5571b59e="" class="form-check"><input data-v-5571b59e="" id="publishStatusDraft"
                            type="radio" name="publish_status" value="draft" class="form-check-input"><label
                            data-v-5571b59e="" for="publishStatusDraft" class="form-check-label">Draft</label></div>
                    <div data-v-5571b59e="" class="form-check"><input data-v-5571b59e="" id="publishStatusPublished"
                            type="radio" name="publish_status" value="published" class="form-check-input"><label
                            data-v-5571b59e="" for="publishStatusPublished" class="form-check-label">Published</label>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-5571b59e="" class="step fixed-bottom"
            style="width: inherit; border-top: 1px solid rgb(223, 227, 232); padding-top: 5px; padding-left: 10px; padding-bottom: 5px; background: rgb(244, 246, 248);">
            <button data-v-5571b59e="" type="submit" class="btn btn-shopify-primary" style="margin-right: 5px;">Save
                options</button>or <a data-v-5571b59e="" href="/?shop_id=15163">cancel</a></div>
    </div>
</body>

</html>